# Authentication
NEXTAUTH_URL=https://titanom.ngrok.app
AUTH_SECRET=
VIDIS_CLIENT_ID=
VIDIS_CLIENT_SECRET=
VIDIS_BASE_URI=

# Persistence
DATABASE_URL=postgresql://postgres:test1234@127.0.0.1:5432/postgres
OTC_SECRET_ACCESS_KEY=
OTC_ACCESS_KEY_ID=
OTC_S3_HOSTNAME=
OTC_BUCKET_NAME=

# Logging
SENTRY_AUTH_TOKEN=
SENTRY_ENVIRONMENT=development

# Third party apis
API_URL=http://127.0.0.1:3002

# Used for encryption of sensitive secrets stores in the database
ENCRYPTION_KEY=
