services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.5
    container_name: telli_dialog_keycloak
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - '8080:8080'
    restart: always
