name: E2E Testing

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, ready_for_review, synchronize]
    branches:
      - main
  workflow_dispatch:

jobs:
  e2e:
    runs-on: ubuntu-latest
    services:
      postgres-dialog:
        image: pgvector/pgvector:pg16
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: telli_dialog_db
          POSTGRES_PASSWORD: test1234
          POSTGRES_DB: telli_dialog_db
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      postgres-api:
        image: pgvector/pgvector:pg16
        ports:
          - 6543:5432
        env:
          POSTGRES_USER: telli_api_db
          POSTGRES_PASSWORD: test1234
          POSTGRES_DB: telli_api_db
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      valkey:
        image: ghcr.io/valkey-io/valkey:8
        ports:
          - 6379:6379
      rabbitmq:
        image: rabbitmq:4
        ports:
          - 5672:5672
        env:
          RABBITMQ_DEFAULT_PASS: password
          RABBITMQ_DEFAULT_USER: user
      crawl4ai:
        image: unclecode/crawl4ai:0.7.8
        options: --shm-size=2gb
        ports:
          - 11235:11235

    env:
      DATABASE_URL: postgresql://telli_dialog_db:test1234@127.0.0.1:5432/telli_dialog_db
      NEXTAUTH_URL: http://localhost:3000
      RABBITMQ_URI: amqp://user:password@127.0.0.1:5672
      VALKEY_URL: redis://127.0.0.1:6379/0
      VIDIS_CLIENT_ID: telli-e2e-client
      VIDIS_CLIENT_SECRET: ClientSecret-e2e
      VIDIS_ISSUER_URI: http://localhost:8080/realms/telli-local
      API_DATABASE_URL: postgresql://telli_api_db:test1234@127.0.0.1:6543/telli_api_db
      API_URL: http://localhost:3002
      API_KEY: ApiKeyForTelliDialogAdminApi
      ENCRYPTION_KEY: EncryptionKeyForEncryptedApiKeysToTelliApi
      # Auth.js secret
      AUTH_SECRET: 'yN1a0lQ77RgeEQam5DvGaddbdUDQoxswK+21FmEqBPs='

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      # Keycloak container cannot be started under services, because it needs to mount files from the repo
      - name: Start keycloak container
        run: |
          docker run --rm --detach \
            -v "$PWD/devops/docker/keycloak:/opt/keycloak/data/import" \
            -p 8080:8080 \
            -e CLIENT_NAME=$VIDIS_CLIENT_ID -e CLIENT_SECRET=$VIDIS_CLIENT_SECRET \
            --entrypoint /opt/keycloak/data/import/entrypoint.sh \
            quay.io/keycloak/keycloak:26.4

      - name: Load 1Password Secrets
        uses: 1password/load-secrets-action@v3
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          OTC_SECRET_ACCESS_KEY: op://telli Engineering/.env.e2e chatbot/OTC_SECRET_ACCESS_KEY
          OTC_ACCESS_KEY_ID: op://telli Engineering/.env.e2e chatbot/OTC_ACCESS_KEY_ID
          OTC_S3_HOSTNAME: op://telli Engineering/.env.e2e chatbot/OTC_S3_HOSTNAME
          OTC_BUCKET_NAME: op://telli Engineering/.env.e2e chatbot/OTC_BUCKET_NAME
          SENTRY_ENVIRONMENT: op://telli Engineering/.env.e2e chatbot/SENTRY_ENVIRONMENT
          SENTRY_DSN: op://telli Engineering/.env.e2e chatbot/SENTRY_DSN
          DE_TEST_API_KEY: op://telli Engineering/.env.e2e chatbot/DE_TEST_API_KEY

      - name: Wait for PostgreSQL to be ready
        run: |
          for port in 5432 6543; do
            until pg_isready -h localhost -p $port -U postgres; do
              echo "$(date) - waiting for postgres on port $port to be ready"
              sleep 1
            done
          done

      # telli-api container cannot be started as service, because:
      # - it needs to mount a file from 1Password
      # - it needs to wait until postgres is available
      # The container must be started on host network, to be able to access the postgres db.
      #
      # Temporary solution: NODE_ENV=development is used to start telli-api on port 3002.
      # Port 3000 is the default and would conflict with telli-dialog.
      - name: Start telli-api container
        run: |
          docker run --detach \
            --name telli-api \
            -v "$PWD/devops/docker/keycloak:/opt/keycloak/data/import" \
            --network host \
            -e DATABASE_URL=$API_DATABASE_URL \
            -e API_KEY=$API_KEY \
            -e NODE_ENV=development \
            -e SENTRY_DSN=dummy \
            -e SENTRY_ENVIRONMENT=e2e \
            ghcr.io/fwu-de/telli-api:latest
        env:
          API_KEY: ApiKeyForTelliApiAdminApi

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright browsers
        run: pnpm -filter telli-dialog exec playwright install

      - name: Run migrations and seed database (if applicable)
        run: pnpm --filter @telli/shared db:migrate && pnpm --filter @telli/shared db:seed

      - name: Seed telli-api database
        run: pnpm --filter @telli/ai-core db:seed:telli-api

      - name: Start application
        run: |
          NODE_ENV=test pnpm --filter telli-dialog build:envless
          pnpm --filter telli-dialog start &
        env:
          NEXT_TELEMETRY_DISABLED: 1
          TURBO_TELEMETRY_DISABLED: 1

      - name: Run E2E tests
        run: pnpm --filter telli-dialog e2e
        env:
          CI: true

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: playwright-report
          path: apps/dialog/playwright-report
          retention-days: 30

      - name: Print telli-api logs
        if: always()
        run: |
          echo "=== telli-api logs ==="
          docker logs --timestamps telli-api || true
