name: Deploy telli production

on:
  workflow_dispatch:
    inputs:
      commit_hash:
        description: 'Commit hash to deploy'
        required: true
        default: ''

jobs:
  deploy-production:
    name: Rollout production
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set Kubernetes context
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_FILE }}
          context: ''

      - name: Update Kubernetes deployment
        run: |
          COMMIT_HASH="${{ github.event.inputs.commit_hash }}"
          echo "Updating Kubernetes deployment with image tag $COMMIT_HASH"
          kubectl set image deployment/telli-dialog-prod \
            telli-dialog-prod=ghcr.io/fwu-de/telli-dialog:$COMMIT_HASH -n telli-prod
          kubectl set image deployment/telli-admin-prod \
            telli-admin-prod=ghcr.io/fwu-de/telli-admin:$COMMIT_HASH -n telli-prod

      - name: Wait for rollout to complete
        run: |
          echo "Waiting for rollout to complete"
          kubectl rollout status deployment/telli-dialog-prod -n telli-prod
