name: Build and deploy staging

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

env:
  NEXT_TELEMETRY_DISABLED: 1
  TURBO_TELEMETRY_DISABLED: 1

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: pnpm install

      - name: Cache turbo build cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ hashFiles('**/turbo.json') }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ runner.os }}-

  check_audit:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Audit dependencies
        run: pnpm audit --audit-level=critical

  check_formatting:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check formatting
        run: pnpm run format:check

  check_types:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check types
        run: pnpm run check-types

  check_linter:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check linter
        run: pnpm run lint

  check_unit_tests:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check unit tests
        run: pnpm run test

  build_push_docker_image_dialog:
    name: Build and push docker image telli-dialog
    runs-on: ubuntu-latest
    needs: [check_audit, check_formatting, check_types, check_linter, check_unit_tests]
    timeout-minutes: 10
    if: github.ref == 'refs/heads/main'

    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker-build-dialog
        uses: docker/build-push-action@v6
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          context: .
          file: apps/dialog/Dockerfile
          secret-envs: |
            SENTRY_AUTH_TOKEN=SENTRY_AUTH_TOKEN
            SENTRY_ORG=SENTRY_ORG
            SENTRY_PROJECT=SENTRY_PROJECT
          build-args: |
            CI=${CI}
            APP_VERSION=${{ github.sha }}
          tags: |
            ghcr.io/fwu-de/telli-dialog:latest
            ghcr.io/fwu-de/telli-dialog:${{ github.sha }}
          push: true
          provenance: mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/fwu-de/telli-dialog
          subject-digest: ${{ steps.docker-build-dialog.outputs.digest }}
          push-to-registry: true

  build_push_docker_image_admin:
    name: Build and push docker image telli-admin
    runs-on: ubuntu-latest
    needs: [check_audit, check_formatting, check_types, check_linter, check_unit_tests]
    timeout-minutes: 10
    if: github.ref == 'refs/heads/main'

    permissions:
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker-build-admin
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/admin/Dockerfile
          build-args: APP_VERSION=${{ github.sha }}
          tags: |
            ghcr.io/fwu-de/telli-admin:latest
            ghcr.io/fwu-de/telli-admin:${{ github.sha }}
          push: true
          provenance: mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/fwu-de/telli-admin
          subject-digest: ${{ steps.docker-build-admin.outputs.digest }}
          push-to-registry: true

  deploy_apps:
    name: Deploy to staging
    runs-on: ubuntu-latest
    needs: [build_push_docker_image_dialog, build_push_docker_image_admin]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set Kubernetes context
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_FILE }}
          context: ''

      - name: Restart Kubernetes deployment
        run: |
          echo "Restarting Kubernetes deployment to pull new latest containers"
          kubectl rollout restart deployment/telli-admin-stage -n telli-stage
          kubectl rollout restart deployment/telli-dialog-stage -n telli-stage

      - name: Wait for rollout to complete
        run: |
          echo "Waiting for rollout to complete"
          kubectl rollout status deployment/telli-admin-stage -n telli-stage
          kubectl rollout status deployment/telli-dialog-stage -n telli-stage
